<!--// Main Wrapper \\-->
<div class="sportsmagazine-main-wrapper">

    <!--// Header \\-->
    <header id="sportsmagazine-header" class="sportsmagazine-header-one">

        <!--// TopStrip \\-->
        <div class="sportsmagazine-topstrip">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4">
                        <ul class="sportsmagazine-social-network">
                            <li><a href="https://www.facebook.com/" class="sportsmagazine-colorhover fa fa-facebook-official"></a></li>
                            <li><a href="https://twitter.com/login" class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>
                            <li><a href="https://pk.linkedin.com/" class="sportsmagazine-colorhover fa fa-linkedin-square"></a></li>
                            <li><a href="https://plus.google.com/" class="sportsmagazine-colorhover fa fa-google-plus-square"></a></li>
                        </ul>
                    </aside>
                    <aside class="col-md-8">
                        <ul class="sportsmagazine-user-section">
                            <li><i class="fa fa-globe"></i> <a href="404.html">Support</a></li>
                            <li><i class="fa fa-dollar"></i> <a href="404.html">Currency : USD</a></li>
                            <li><i class="fa fa-shopping-cart"></i> <a href="#" class="sportsmagazine-open-cart">Cart (0)</a>
                                <div class="sportsmagazine-cart-box">
                                    <h2>You have 2 items in the cart</h2>
                                    <ul>
                                        <li>
                                            <figure>
                                                <a href="checkout.html"><%= image_tag('cartbox-1.png') %></a>
                                            </figure>
                                            <div class="sportsmagazine-cartbox-text">
                                                <h6><a href="checkout.html">Key Management Model The 60+ Models</a></h6>
                                                <div class="sportsmagazine-rating"><span class="sportsmagazine-rating-box" style="width:80%"></span></div>
                                                <span class="sportsmagazine-cartbox-price sportsmagazine-color">$35.99 <small>$43.00</small></span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="checkout.html"><%= image_tag('cartbox-2.png') %></a>
                                            </figure>
                                            <div class="sportsmagazine-cartbox-text">
                                                <h6><a href="checkout.html">Pyramid Principle: Logic Writing &amp; Thinking</a></h6>
                                                <div class="sportsmagazine-rating"><span class="sportsmagazine-rating-box" style="width:100%"></span></div>
                                                <span class="sportsmagazine-cartbox-price sportsmagazine-color">$21.00</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <h5>Subtotal <span class="sportsmagazine-color">$1343</span></h5>
                                    <div class="sportsmagazine-cart-link"><a href="checkout.html" class="sportsmagazine-cartbox-btn sportsmagazine-bgcolorhover"><i class="flaticon-tool"></i> Go to Checkout</a></div>
                                </div>
                            </li>
                            <li><i class="fa fa-user"></i> <a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                            <li><i class="fa fa-sign-in"></i> <a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <!--// TopStrip \\-->
        <%= render "layouts/navbar" %>
    </header>
</div>

    <!--// Header \\-->
